<% provide(:title, 'Follow') %>
<div id="main">
  <h2>Follow ccCultura</h2>
  <p>Many of the institutions in this directory, if not most, have created their own social media pages. In fact, Brazil has the second largest population of Twitter users in the world (<a href="#citationF">Fastenberg, 2010</a>).</p>
  <p>In addition to including links to all of those social media pages on each institution’s individual <a href="sp">information page</a>, ccCultura also maintains a page on each of these social networks:</p>
  <dl class="directory">
    <dt><a href="https://www.facebook.com/cccultura"><%= image_tag("_facebook.png", title: "Facebook icon from komodomedia.com", alt: "icon", class: "small_icon") %> Facebook</a></dt><dd>Browse our favorites, post on our wall &amp; “like” us.</dd>
    <dt><a href="https://twitter.com/#!/cccultura"><%= image_tag("_twitter.png", title: "Twitter icon from komodomedia.com", alt: "icon", class: "small_icon") %> Twitter</a></dt><dd>Check out ccCultura’s thematic <a href="https://twitter.com/#!/cccultura/lists">lists</a> and follow us.</dd>
    <dt><a href="http://www.youtube.com/user/ccCultura"><%= image_tag("_youtube.png", title: "Youtube icon from komodomedia.com", alt: "icon", class: "small_icon") %> YouTube</a></dt><dd>Check out our <a href="http://www.youtube.com/user/ccCultura/videos">playlists</a>—all about São Paulo culture.</dd>
  </dl>
  <p>If you have a social media page, let us know. Add us to your list today!</p>
  <p class="update">Last update: 2012-04-15</p>
  <br>
  <p class="sourceNote">References:</p>
  <p class="APAcredit" id="citationF">Fastenberg, D. (2010, October 20). Why is Twitter so popular in Brazil? <span class="sourceTitle">Time</span>. Retrieved April 15, 2012 from <a href="http://www.time.com/time/world/article/0,8599,2026442,00.html">http://www.time.com/time/world/article/0,8599,2026442,00.html</a>.</p>
  <p class="APAcredit">The social media icons used above were created by <a href=" http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/">KomodoMedia.com</a> and are licenced under a Creative Commons Attribution-ShareAlike 3.0 Unported (<a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>) license.</p>
</div><!-- end of "main" -->

<div id="sidebar">
  <%= image_tag("_follow1.jpg", class: "photo", alt: "graffiti", title: "&#34;Onesto&#34;&#13;by Os Gêmeos") %><p class="credit">“Onesto” by Os Gêmeos, Museu Afro Brasil (source: <%= link_to "Wikimedia Commons", "http://commons.wikimedia.org/wiki/File:Onesto_-_Museu_Afro_Brasil.JPG" %>)
</div><!-- end of "sidebar"-->
