<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ccCultura | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <%= image_tag("_banner.png", alt: "Skyline banner", title: "ccCultura.com/sp/ A Directory of Museums & Cultural Institutions in São Paulo", id: "banner") %>
      <h3 id="navigation"><%= link_to('main directory', '#') %> · <%= link_to('about', root_path) %> · <%= link_to('follow', follow_path) %> · <%= link_to('contribute', contribute_path) %> · <%= link_to('other links', links_path) %></h3>
    </div>

    <%= yield %>

    <div id="footer">
        <p>Banner artwork source information: The 
          <%= link_to("original photo", "http://www.flickr.com/photos/things-i-like-in-sp/3516885722/sizes/l/in/photostream/") %> of São Paulo used in the banner was taken by Alexandre Giesbrecht (<%= link_to("Flickr", "http://www.flickr.com/photos/things-i-like-in-sp/") %>) and is also licensed under a CC&nbsp;license&nbsp;(<%=link_to("CC BY-SA 2.0", "http://creativecommons.org/licenses/by-sa/2.0/", rel: "license") %>). Both the CC logo (source: <%= link_to("creativecommons.org", "http://mirrors.creativecommons.org/presskit/icons/cc.svg") %>) and the museum image (source: <%= link_to("clker.com", "http://www.clker.com/cliparts/2/P/Z/Y/O/i/institution-icon-md.png") %>) are in the <%= link_to("public domain", "http://en.wikipedia.org/wiki/Public_domain") %>.</p>
        <p>Some rights reserved 2012. This site and the original banner artwork were created by <%= link_to("Giso Broman", "http://www.giso6150.com") %> and are licensed under a <%= link_to("Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License", "http://creativecommons.org/licenses/by-nc-sa/3.0/", rel: "license") %>.</p>
      </div><!-- end of "footer"-->

    </div><!-- end of "container"-->

</body>
</html>
